<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="stylesheet" href="/css/barchart.min.css">
  <script src="//d3js.org/d3.v4.min.js"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
  
</head>
<body>
  <header style="height:50px;background-color:#0060ae;">
    <nav>&nbsp;</nav>
  </header>
  <main>
    {{{ body }}}
  </main>
  <footer style="height:200px;background-color:black;">
    &nbsp;
  </footer>
  
  <script src="/js/mapbox.min.js"></script>
  <script src="/js/graphic.min.js"></script>
  <script src="/js/mip.min.js"></script>
  
  <script>
  // Init bar graph
  var data = {{{ data }}};
  var graphic = window.graphic;
  
  graphic.data(data)

  window.onload = graphic.draw;
  window.onresize = graphic.draw;
  </script>

  
  
</body>
</html>
