$lime:    #8dbd45;
$pine:    #0d382e;
$red:     #df2027;
$sky:     #7cadbb;
$lt-gray: #b1b3b5;
$stone:   #a4968d;
$teal:    #1d8376;
$blue-75: #0961ae;
$blue-50: #4689c2;
$blue-25: #c2d7eb;

.chart {
  text,
  .axis {
    font-size: 12px;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #6d6e70;
    shape-rendering: crispEdges;
  }

  .axis path {
    display: none;
  }

  rect {
    fill: $blue-50;
  }
  
  path.summary {
    fill: none;
    stroke: black;
    stroke-width: 3px;
  }

  path.summary.county {
    stroke: $lime;
  }
  
  path.summary.municipality {
    stroke: $red;
  }

  path.summary.county-district {
    stroke: $teal;
  }
  
  path.summary.zipcode {
    stroke: $stone;
  }
}

#comparison-container {
  p svg line {
    stroke-width: 2;
  }

  p.county svg line {
    stroke: $lime;
  }
  p.municipality svg line {
    stroke: $red;
  }
  p.county-district svg line {
    stroke: $teal;
  }
  p.zipcode svg line {
    stroke: $stone;
  }
}