.chart {
  text,
  .axis {
    font-size: 12px;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #6d6e70;
    shape-rendering: crispEdges;
  }

  .axis path {
    display: none;
  }

  rect {
    fill: #6d6e70;
  }

  path.summary {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
  }

  path.county {
    // stroke: #df2027;
  }
  path.municipality {
    // stroke: #7cadbb;
  }
  path.countyDistrict {
    // stroke: #8dbd45;
  }
  path.censusTract {
    // stroke: #1d8376;
  }
  path.zipcode {
    // stroke: #56678d;
  }
}