@import "../../bower_components/normalize-css/normalize.css";
/*! Metro Ideas Project | metroideas.org */
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

// Typography
$base-font-family: "Avenir Next", $helvetica;
$base-font-size: 18px;
$base-line-height: 1.5;
$strong-font-weight: 600;
$small-font-size: $base-font-size * 0.8;

$header-font-family: $base-font-family;
$header-font-weight: $strong-font-weight;
$header-line-height: 1.3;

// Viewports and media queries
$xsmall: 512px;
$small: 640px;
$medium: 768px;
$large: 1024px;
$xlarge: 1280px;

// Primary colors
$black: #252525;
$white: #ffffff;
$gray: #6d6e70;
$navy: #1e3567;
$blue: #0060ae;
$red: #df2027;

// Form elements
$default-border-radius: 3px;
$default-input-height: $base-font-size * 2.5;

// _type.scss
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4 {
  line-height: $header-line-height;
  font-family: $header-font-family;
  font-weight: $header-font-weight;
}

@media (min-width: $medium) {
  h1 {
    font-size: 2.5em;
  }  
}

a {
  color: $blue;
}

a:visited {
  color: $navy;
}

strong {
  font-weight: $strong-font-weight;
}

small {
  font-size: $small-font-size;
}

ul {
  padding-left: 1em;
}

// _form.scss
form {
  @include margin(1em null);
  @include padding(1em null);

  @media (min-width:$medium) {
    @include outer-container($small);

    p:first-child {
      @include span-columns(8);
    }

    p:last-child {
      @include span-columns(4);
    }

    button {
      width: 100%;
    }
  }
}

#form-error-message {
  color: $red;

  @media (min-width: $medium) {
    text-align: center;
  }
}

input,
button {
  border: none;
  height: $default-input-height;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding-left: 0.5em;
  border-radius: $default-border-radius;
  border: 1px solid $gray;
}

button {
  border-radius: $default-border-radius;
  border: 1px solid $blue;
  background-color: $blue;
  color: $white;
  cursor: pointer;

  &:active {
    border-color: $navy;
    background-color: $navy;
  }
}

// Input group
form p:first-child {
  position: relative;

  label {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: $small-font-size;
  }
}

// Checkbox inputs
input[type="checkbox"] {
  height: auto;
}

// _layout.scss
main {
  @include padding(1em)
  @include outer-container($xlarge);
}

main header {
  @include margin(1em null);
  
  & > * {
    @include margin(0 null);
  }
  
  & > p {
    color: $gray; 
  }
}

article#map {
  height: 80vh;
}

#marker {
  background-color: steelblue;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid white;
  cursor: pointer;
}

article#about {
  &  > p {
    color: $gray  
  }
}

article#graphic {
  p {
    @include margin(0)
  }
  
  #tooltip {
    display: none;
  }
}

@media (min-width: $medium) {
  main {
    @include padding(3em 1em);
  }

  main header {
    text-align: center;
  }

  article {
    @include margin(2em null);
  }
  
  article#summaries {
    @include row;

    section {
      @include span-columns(4);
    }
  }

  article#graphic #tooltip {
    position: absolute;
    display: block;
    padding: 1em;
    width: 300px;
    border-radius: $default-border-radius;
    border: 1px solid $gray;
    background-color: white;
    
    h4 { @include margin(0) };
  }
}

// _utilities.css
.hidden {
  display: none !important;
}


