<header>
  <h1>This is the headline</h1>
  <p>Lead sentence providing more page details</p>
</header>

<form action="/" method="post">
  <p>
    <label for="address-field">Street address</label>
    <input name="userAddress" id="address-field" type="text" placeholder="625 Georgia Ave. Chattanooga, TN" required>
  </p>

  <p>
    <button>Find my address</button>
  </p>
</form>

<article id="map" style="height:50vh;width:100%;background-color:#6d6e70">
  <p>&nbsp;</p>
</article>

<article id="summaries">
  <section id="countywide">
    <h2>Hamilton County</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </section>

  <section id="zipcode">
    <h2>ZIP code</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
  </section>

  <section id="demographics">
    <h2>Demographics</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </section>
</article>

<article id="about">
  <h3>About</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <p><small>Sources: Hamilton County and the U.S. Census Bureau.</small></p>
</article>
    