<header>
  <h1>This is the headline</h1>
  <p>Lead sentence providing more page details</p>
</header>

<form action="/" method="post">
  <p>
    <label for="address-field">Street address</label>
    <input name="userAddress" id="address-field" type="text" placeholder="625 Georgia Ave. Chattanooga, TN" required>
  </p>

  <p>
    <button>Find my address</button>
  </p>
</form>

{{!-- <article id="map" style="height:50vh;width:100%;background-color:#6d6e70">
  <p>&nbsp;</p>
</article> --}}

<article id="graphic">
  <h2>{{ subhead }}</h2>
  {{#location}}
    <p><strong>Compare</strong></p>
    
    {{#labels}}
    <p><label><input type="checkbox" id={{ id }}> {{ name }}</label></p>
    {{/labels}}

    <div class="hidden" id="tooltip">
      <h4 id="year"></h4>
      <ul>
        <li>
          Appraisal: <span id="appraisal-amount"></span>
        </li>
        <li>
          County taxes: <span id="county-amount"></span>
        </li>
        <li>
          Municipal taxes: <span id="municipality-amount"></span>
        </li>
      </ul>
    </div> 
  {{/location}}

  <section class="chart">
    {{!-- Placeholder image --}}
  </section>
</article>


<article id="about">
  <h3>About</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <p><small>Sources: Hamilton County and the U.S. Census Bureau.</small></p>
</article>
    