<header>
  <h1>This is the headline</h1>
  <p>Lead sentence providing more page details</p>
</header>

<p id="form-error-message">
  {{!--  --}}
</p>

<form action="/" method="post" id="address-lookup">
  <p>
    <label for="address-field">Street address</label>
    <input name="userAddress" id="address-field" type="text" placeholder="800 Market St. Chattanooga, TN" required>
  </p>
  <p>
    <button>Find my address</button>
  </p>
</form>

<article id="map">
  {{!-- Placeholder img --}}
  <div class="legend">
    <div class="box q1">&nbsp;</div> Less than $85,300<br>
    <div class="box q2">&nbsp;</div> Less than $113,800<br> 
    <div class="box q3">&nbsp;</div> Less than $151,475<br>
    <div class="box q4">&nbsp;</div> Higher
  </div>
</article>

<article id="graphic">
  <h2>Median appraisals for <span id="title">Hamilton County, Tennessee</span></h2>
    <div class="hidden" id="comparison-container">
      {{!-- Checkboxes --}}
    </div>
    
    <div class="hidden" id="graphic-tooltip">
      <h4 id="year"></h4>
      <ul>
        <li>
          Appraisal: <span id="appraisal-amount"></span>
        </li>
        <li>
          County taxes: <span id="county-amount"></span>
        </li>
        <li>
          Municipal taxes: <span id="municipality-amount"></span>
        </li>
      </ul>
    </div> 


  <section class="chart">
    {{!-- Placeholder image --}}
  </section>
</article>


<article id="about">
  <h3>About</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <p><small>Sources: Hamilton County and the U.S. Census Bureau.</small></p>
</article>
    