extends layout

block content
  header
    h1 This is the headline
    p Lead sentence providing more details for the page

  form
    p
      label(for='address_field') Street address
      input(type='text', id='address_field', placeholder='625 Georgia Ave. Chattanooga, TN', required)
      
    p
      button Find my address

  article#map(style='height:50vh;width:100%;background-color:gray') 
    p &nbsp;

  article#summaries
    section#countywide
      h2 Hamilton County
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    section#zipcode
      h2 ZIP code
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.

    section#demographics
      h2 Demographics
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
  
  article#about
    h3 About
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    p
      small Data sources: Hamilton County and the U.S. Census Bureau.
    