doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/style.min.css')
    script(src='https://d3js.org/d3.v4.min.js')
    script(src='/js/sample.min.js')
  body
    header(style='height:50px;background-color:#0060ae;')
      nav &nbsp;
    main
      block content
    footer(style='height:200px;background-color:black;')