@import url(../../bower_components/normalize-css/normalize.css);
/*! Metro Ideas Project | metroideas.org */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5; }

h1,
h2,
h3,
h4 {
  line-height: 1.3;
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 600; }

@media (min-width: 768px) {
  h1 {
    font-size: 2.5em; } }

a {
  color: #0060ae; }

a:visited {
  color: #1e3567; }

strong {
  font-weight: 600; }

small {
  font-size: 14.4px; }

ul {
  padding-left: 1em; }

form {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em; }
  @media (min-width: 768px) {
    form {
      max-width: 640px;
      margin-left: auto;
      margin-right: auto; }
      form::after {
        clear: both;
        content: "";
        display: block; }
      form p:first-child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        form p:first-child:last-child {
          margin-right: 0; }
      form p:last-child {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        form p:last-child:last-child {
          margin-right: 0; }
      form button {
        width: 100%; } }

#form-error-message {
  color: #df2027; }
  @media (min-width: 768px) {
    #form-error-message {
      text-align: center; } }

input,
button {
  border: none;
  height: 45px; }

input[type="text"] {
  display: block;
  width: 100%;
  padding-left: 0.5em;
  border-radius: 3px;
  border: 1px solid #6d6e70; }

button {
  border-radius: 3px;
  border: 1px solid #0060ae;
  background-color: #0060ae;
  color: #ffffff;
  cursor: pointer; }
  button:active {
    border-color: #1e3567;
    background-color: #1e3567; }

form p:first-child {
  position: relative; }
  form p:first-child label {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 14.4px; }

input[type="checkbox"] {
  height: auto; }

main {
  padding: 1em;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto; }
  main::after {
    clear: both;
    content: "";
    display: block; }

main header {
  margin-top: 1em;
  margin-bottom: 1em; }
  main header > * {
    margin-top: 0;
    margin-bottom: 0; }
  main header > p {
    color: #6d6e70; }

article#map {
  position: relative;
  height: 80vh; }

article#about > p {
  color: #6d6e70; }

article#graphic p {
  margin: 0; }

@media (min-width: 768px) {
  main {
    padding: 3em 1em; }
  main header {
    text-align: center; }
  article {
    margin-top: 2em;
    margin-bottom: 2em; }
  article#summaries {
    display: block; }
    article#summaries::after {
      clear: both;
      content: "";
      display: block; }
    article#summaries section {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      article#summaries section:last-child {
        margin-right: 0; } }

.hidden {
  display: none !important; }

#map > .legend {
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  padding: 1em;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10; }
  #map > .legend > .box {
    margin-top: 4px;
    margin-right: 4px;
    float: left;
    width: 12px;
    height: 12px; }
  #map > .legend > .box.q1 {
    background-color: #ffffb2; }
  #map > .legend > .box.q2 {
    background-color: #fecc5c; }
  #map > .legend > .box.q3 {
    background-color: #fd8d3c; }
  #map > .legend > .box.q4 {
    background-color: #e31a1c; }

#map-tooltip {
  width: 300px;
  padding: 1em;
  border-radius: 3px;
  border: 1px solid #6d6e70;
  background-color: white; }

.mapboxgl-popup {
  font-size: 18px !important;
  border: none !important;
  height: auto !important; }

.mapboxgl-popup-content h4 {
  line-height: 1.3;
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 600; }

.mapboxgl-popup-content li {
  height: inherit !important;
  line-height: inherit !important; }

#marker {
  background-color: #0060ae;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  cursor: pointer; }

.chart text,
.chart .axis {
  font-size: 12px; }

.chart .axis path,
.chart .axis line {
  fill: none;
  stroke: #6d6e70;
  shape-rendering: crispEdges; }

.chart .axis path {
  display: none; }

.chart rect {
  fill: #4689c2; }

.chart path.summary {
  fill: none;
  stroke-width: 3px; }

#comparison-container line {
  stroke-width: 3; }

.county {
  stroke: #8dbd45; }

.municipality {
  stroke: #df2027; }

.county-district {
  stroke: #1d8376; }

.zipcode {
  stroke: #a4968d; }

#graphic-tooltip {
  display: none; }
  @media (min-width: 768px) {
    #graphic-tooltip {
      position: absolute;
      display: block;
      padding: 1em;
      width: 300px;
      border-radius: 3px;
      border: 1px solid #6d6e70;
      background-color: white; }
      #graphic-tooltip h4 {
        margin: 0; } }
