@import url(../../bower_components/normalize-css/normalize.css);
/*! Metro Ideas Project | metroideas.org */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Avenir Next", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 18px;
  padding: 1em; }
