// _utilities.css

img.responsive { 
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.hidden {
  display: none !important;
}

.invisible {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

[data-scroll-disabled="true"] {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
}